In [31]:
%pip install numpy pandas matplotlib seaborn sklearn scikit starlette pickle scipy mlflow pickle joblib

Requirement already satisfied: numpy in c:\python39\lib\site-packages (1.26.1)
Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.5.2)
Requirement already satisfied: matplotlib in c:\python39\lib\site-packages (3.4.1)
Requirement already satisfied: seaborn in c:\python39\lib\site-packages (0.11.2)
Requirement already satisfied: sklearn in c:\python39\lib\site-packages (0.0)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
ERROR: Could not find a version that satisfies the requirement scikit (from versions: none)
ERROR: No matching distribution found for scikit
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)

In [4]:
import mlflow
import mlflow.sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Set the remote server address
mlflow.set_tracking_uri("http://103.134.154.193:5000")

In [9]:
df = pd.read_csv("data/salary.csv")
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [10]:
df = df.drop(df.columns[0], axis=1)
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [11]:
from sklearn.model_selection import train_test_split

X = df[['YearsExperience']]
y = df['Salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

# Create and train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 49830096.855908334

In [33]:
%pip install boto3

Collecting boto3
  Using cached boto3-1.28.68-py3-none-any.whl (135 kB)
Collecting botocore<1.32.0,>=1.31.68
  Using cached botocore-1.31.68-py3-none-any.whl (11.3 MB)
Collecting s3transfer<0.8.0,>=0.7.0
  Using cached s3transfer-0.7.0-py3-none-any.whl (79 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\python39\lib\site-packages (from boto3) (1.0.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\python39\lib\site-packages (from botocore<1.32.0,>=1.31.68->boto3) (1.26.18)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\ilzam\appdata\roaming\python\python39\site-packages (from botocore<1.32.0,>=1.31.68->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\ilzam\appdata\roaming\python\python39\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.68->boto3) (1.15.0)
Installing collected packages: botocore, s3transfer, boto3
Successfully installed boto3-1.28.68 botocore-1.31.68 s3transfer-0.7.0Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)

In [34]:
import boto3

# Vultr Object Storage configuration
endpoint_url = "https://sgp1.vultrobjects.com"
access_key = "43KGZL0JXCW1N1M1X2LS"
secret_key = "uPzHK2eWp6zcBDLgmfCaIWu4pPRo6k7v5IMDr2Gh"

# Initialize the S3 client
s3_client = boto3.client('s3', endpoint_url=endpoint_url, aws_access_key_id=access_key, aws_secret_access_key=secret_key)

# List buckets (optional)
response = s3_client.list_buckets()
for bucket in response['Buckets']:
    print(f'Bucket Name: {bucket["Name"]}')

# You can now interact with your Vultr Object Storage using s3_client

Bucket Name: lilz

In [39]:
import joblib

with open("coba.pkl", "wb") as file:
    joblib.dump(model, file)

s3_client.upload_file("coba.pkl", "lilz", "coba.pkl")